STRING_SESSION = AQDApB9I53nh82TXb7Lj7PavxHl9zEMVhYBVNb52CJX2Pak05yWaBxxNsLMgkdy6SSXS0ucY2PVuF5uBp5K0kYsMwNPMbZIrF7ek9Wof8sXsz2PIwAkoRYev5aQJyahxb1ePcERgjlenrnLZz_bu3F3R9URtAQRVH4fQBBQRBHNPTaq_lEPzWtzykcPnAiziye0TwaFCdfPUZcpfJ3R0q_KuukJT5eEEF8CuEhLzZx3QTjaYjJOuk5-Zca81ijBzXx2So6naEIbS5GBgSdVzF0ZZqXCj2J0prIoXPKNSkT-Gg-_Ip-8hxLOLx4kmyTXlWIS53J6xhLYh88AEL-vXZViiAAAAAVjOA3cA
API_ID = 2973170
API_HASH = 39e217f5b8186dfb9b320b7705020f80
BOT_TOKEN = 5657601880:AAE6aVprJyJpRXQuOrlIoA_ljUY5dqPZ9Lg
MONGO_DB_URI = mongodb+srv://Pihu02938:ieZbzufQo9Q3jQow@pihumusicbot.tirbhpy.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = -1001432486857
MUSIC_BOT_NAME = Blinks Music
OWNER_ID = 5549212547 1352969822
PING_IMG_URL = https://te.legra.ph/file/1a02e2638e11d2f3e60cb.jpg
START_IMG_URL = https://te.legra.ph/file/82fc4d8b90767f7af24f8.png
SPOTIFY_CLIENT_ID = 6d052c4f72914aad8c5b49db940b583f
SPOTIFY_CLIENT_SECRET = 9da15c5563294652b2f626d0c043aa4a
SERVER_PLAYLIST_LIMIT = 100
DURATION_LIMIT = 180
